.selected-checks-div{

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}
.selected-checks-stats-div-higher{
  display: flex;
  align-items: center;
  height:80%; 
  width: auto;
  background-color: blueviolet;
  border-radius: 10px;
}

.selected-checks-stats-div-wrong{
  display: flex;
  align-items: center;
  height: 80%; 
  width: auto;
  background-color: rgb(252, 135, 1);
  border-radius: 10px;
}
.selected-checks-stats-div-lower{
  display: flex;
  align-items: center;
  height: 80%; 
  width: auto;
  background-color: red;
  border-radius: 10px;
 
 }
 .selected-checks-stats-div-correct{
  display: flex;
  align-items: center;
  height: 80%; 
  width: auto;
  background-color: green;
  border-radius: 10px;
  
 }
.selected-checks-text-atk{
  
  font-weight: bold;
  font-size: calc(16px + 0.1vw);

}
.selected-checks-text-def{
  font-weight: bold;
  font-size: calc(16px + 0.1vw);


}
.selected-checks-text{
  font-weight: bold;
  font-size: calc(16px + 0.1vw);
}
.arrow{
  width: auto;
  height: 50%;
  margin-left: 10px;
}
