.outline-icon{
  width: calc(16px + 0.5vw);
  height: calc(16px + 0.5vw);
  margin-right: 10px;
}
.search-outline-icon{
  width: auto;
  height: 80%;
}

@media  (max-width: 600px) {
  .search-outline-icon{
    width: auto;
    height: 50px;
  }
 }