.race-icon{
  width: calc(16px + 0.5vw);
  height: calc(16px + 0.5vw);
  margin-right: 10px;
}

.search-race-icon{
  width: auto;
  height: 50%;

}

@media  (max-width: 600px) {
  .search-race-icon{
    width: auto;
    height: 30px;
  }
 }