.type-div{
  display: flex;
  justify-content: left;
  margin-left: 10px;
  font-weight: bold;
}
.type-text{
  font-size: calc(16px + 0.5vw);
}


@media (max-width: 1140px) {
  .type-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-left: 0%;
    
  }
  .type-text{
    font-size: calc(16px);
    margin-top: 0%;
    
  }
 }

@media (max-width: 600px) {
  .type-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-left: 0%;
    
  }
  .type-text{
    font-size: calc(16px);
    margin-top: 0%;
    
  }
 }