@media  (max-width: 1139px) {
  .loadscreen{
    display: flex;
    width: 80%;
  }


}

@media  (max-width: 870px) {
  .loadscreen{
    display: flex;
    width: 90%;
  }
  .homediv{
    width: 80%;
  }
  .imgdiv{
    width: 40%;
 }
 .textdiv{
   width: 60%;
 }


}
@media  (max-width: 600px) {

  .loadscreen{
    display: flex;
    width: 100%;
  }
  .homediv{
    width: 40%;
  }
  .imgdiv{
     width: 60%;
  }
  .textdiv{
    width: 60%;
  }

}