
.random-button-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;


}
.random-button{
  background-color: rgb(67, 190, 67);
  color: rgb(255, 255, 255);
  font-size: calc(16px + 0.5vw);
  border-radius: 10px;
  margin-bottom: 8px;
  transition: .2s ease-in-out 0s;
  cursor: pointer;

}

.random-button:hover{
  filter: brightness(110%);
  transform: scale(1.1);

}
/* 
@media (max-width: 2500px) {
  .random-button-div{
    margin-top: 10%;
  }
 } */

