.stats-div{
  display: flex;
  justify-content: left;
  margin-left: 10px;
}
.stats-text{
  font-size: calc(16px + 0.3vw);
  font-weight: bold;
}
.stats-atk{
  font-size: calc(16px + 0.3vw);
  margin-right: 10px;
}
.stats-def{
  
  font-size: calc(16px + 0.3vw);
}
.stats-rating{
  display: flex;
  flex-direction: row;
}


@media (max-width: 1140px) {
  .stats-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .stats-atk{
    font-size: calc(16px);
    margin-top: 0%
  }
  .stats-def{
    font-size: calc(16px);
    margin-top: 0%
  }
  .stats-text{
    font-size: calc(16px);
    margin-top: 0%
  }
}

@media (max-width: 600px) {
  .stats-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .stats-atk{
    font-size: calc(16px);
    margin-top: 0%
  }
  .stats-def{
    font-size: calc(16px);
    margin-top: 0%
  }
  .stats-text{
    font-size: calc(16px);
    margin-top: 0%
  }
 }