.card-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: white;
  border-radius: 10px;
}
.card-img{
  border-radius: 10px;
  width: 50%;
  height: auto;

}
.rightside-div{
  width: 500px;
}
.rightside-title-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.rightside-span{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-name{
  display: inline;
  font-size: 1vw;
  font-weight: bold;
}

.card-attribute{
  display: inline;
  font-size: 1vw;

  margin-right: 10px;
}
.card-level{
  display: inline;
  font-size: 1vw;

}
.effect-div{
  width: 100%;
}