.button-reset{
  font-size: calc(16px + 0.4vw);
  border-radius: 10px;
  background-color: rgb(20, 163, 20);
  color: white;
  margin-top: 10px;
}

.button-reset:hover{
  cursor: pointer;
  filter: brightness(110%);
}