.button-reset{
  font-size: calc(16px + 0.4vw);
  border-radius: 10px;
  background-color: rgb(20, 163, 20);
  color: white;
  margin-top: 10px;
  
}

.button-reset:hover{
  cursor: pointer;
  filter: brightness(110%);
}

.finish{
  animation: finish 2s infinite;
}

@keyframes finish {
  0% {
    transform: scale(1);
}
50% {
    transform: scale(1.1);
}
100% {
  transform: scale(1);
}
}