
.modal-styles {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1000;
}

select{
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius:2px;
  border:none;

  padding: 10px 30px 10px 10px;
}
.filter-div{
  width: 40%;
  background-color: bisque;
  border-radius: 10px;
}
.filter-options{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width: 10%;
}
.filter-option-div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.select-text{
  font-weight: bold;
}
.filter-selector{
  background-color: rgb(226, 182, 124);
  border-radius: 10px;
}


.filter-apply{
  font-size: calc(16px + 0.4vw);
  border-radius: 10px;
  background-color: rgb(20, 163, 20);
  color: white;
  margin-top: 10px;
  margin-right: 10px;
  
}

.filter-apply:hover{
  cursor: pointer;
  filter: brightness(110%);
}
.filter-reset{
  font-size: calc(16px + 0.4vw);
  border-radius: 10px;
  background-color: rgb(201, 155, 30);
  color: white;
  margin-top: 10px;
  margin-right: 10px;
  
}

.filter-reset:hover{
  cursor: pointer;
  filter: brightness(110%);
}
.filter-exit{
  font-size: calc(16px + 0.4vw);
  border-radius: 10px;
  background-color: rgb(196, 14, 14);
  color: white;
  margin-top: 10px;
  
}

.filter-exit:hover{
  cursor: pointer;
  filter: brightness(110%);
}


@media  (max-width: 1200px) {
  .filter-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: auto;
  }
  .filter-options{
    width: auto;
    justify-content: center;
  }

 }


 @media  (max-width: 800px) {
  .filter-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .filter-options{
    width: auto;
    justify-content: center;
  }
 }