.home-img{
  z-index: 10;
}
.square{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width:100px;
  height:100px;
  background-image: url( https://storage.googleapis.com/ygoprodeck.com/pics_small/94141712.jpg);
  background-size: 129px;
  background-position:center 37%;
}
