.l-load{
  display: flex;
  width: 10%;
  height: 32px;
  border-radius: 10px;
  margin-left: 4px;
  margin-top: 8px;
}

@media  (max-width: 600px) {

  .l-load{
    display: flex;
    width: 20%;
  }
}